{extend name="base" /}

{block name="css"}
  <link rel="stylesheet" href="__PUBLIC__/css/admin/index.css" media="all">
{/block}

{block name="main"}
  <h1>欢迎使用ThinkCMS内容管理系统！</h1>
  <hr>
  <p>
    您上次登录的时间{$last_login_time}，IP{$last_login_ip}，如有出入请向作者反馈，谢谢！
  </p>
  <!-- 展示表格 -->
  <table class="layui-table">
    <thead>
      <tr>
        <th colspan="2">管理系统指标</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>文章数量</td>
      <td>{$articleTotal}</td>
    </tr>
    <tr>
      <td>菜单数量</td>
      <td>{$menuTotal}</td>
    </tr>
    <tr>
      <td>管理员数量</td>
      <td>{$adminTotal}</td>
    </tr>
    <tr>
      <td>站点域名</td>
      <td>{$domain}</td>
    </tr>
    <tr>
      <td>服务器软件</td>
      <td>{$serverSoftware}</td>
    </tr>
    <tr>
      <td>服务器系统</td>
      <td>{$OS}</td>
    </tr>
    <tr>
      <td>作者</td>
      <td>WeiZeng: weimingzhili@foxmail.com</td>
    </tr>
    </tbody>
  </table>
{/block}

{block name="js"}
  <script src="__PUBLIC__/js/admin/index.js" charset="UTF-8"></script>
{/block}